
*.parquet


gcp-key.json
*.json
!package.json



__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/

# OS
.DS_Store
Thumbs.db


#file
*.csv
*.csv.gz
data/

cohorts/2026/04-analytics-engineering/data/
cohorts/2026/04-analytics-engineering/gcp-key.json
*.csv.gz
