# dbt profiles
profiles.yml

# Keys & sensitive files
gcp-key.json
*.json
!package.json

# Python cache / environment
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/

# OS files
.DS_Store
Thumbs.db

# Data files
*.parquet
*.csv.gz
data/
cohorts/2026/04-analytics-engineering/data/
cohorts/2026/04-analytics-engineering/gcp-key.json
